<div class="container mt-5">
  <nav class="navbar bg-light">
    <form class="container-fluid justify-content-centre">
      <button class="btn btn-outline-success me-2" routerLink="create" type="button">Creerprofile</button>
      <button class="btn btn-sm btn-outline-secondary" routerLink="admin" type="button">Lire</button>
    </form>
  </nav>
    <h1 class="h1">Fiche d'evaluation de stagiaire </h1>

<!-- <a  routerLink="create" class="btn btn-outline-success"> createprofile</a>
 &nbsp;
<a routerLink="read" class="btn btn-outline-primary">Read</a>
&nbsp;

&nbsp; -->
<p>
  Chaque etuduant doivent remplir cette formulaire a fin de finir leur stage pour avoir une evaluation de notre strategie de stage et l'ameliorer
</p>
<router-outlet></router-outlet>


</div>

<div>
  <!-- <img [src]="myimage" alt=""> -->
</div>
