<div class="container" [formGroup]="questForm" *ngIf="!submitted">
  <div   >
    <div class="text-start" >
      <p class="text-start">1. Cette Formation a-t-elle fait de nouveux besoins en formation ?
        Oui<input type="radio" name="check">
        &nbsp;&nbsp;
        Nom<input type="radio" name="check"> 
      </p>

    </div><br>

    <div>
      <div >
        <span class="input-group-text" id="addon-wrapping">Lequels ?</span>
      <input type="text" class="form-control" formControlName="text_lequel"   aria-label="Username" aria-describedby="addon-wrapping" placeholder="................................................................................................................................................................................................................................................................................................">
      <small *ngIf="questForm.get('text_lequel')?.invalid && questForm.get('text_lequel')?.touched " class="text-danger">il faut maitre ecrire Lequels</small>
    </div>

    </div>
  </div>



  <div class="text-start" >
    <p >
      coordonnees du responsable a contacter dans votre etablissement pour une prochaine formation:
    </p>
    <span class="input-group-text" id="addon-wrapping">Nom responsable:</span>
    <input type="text" class="form-control" formControlName="text_nom"   aria-label="Username" aria-describedby="addon-wrapping">
    <small *ngIf="questForm.get('Intitule')?.invalid && questForm.get('Intitule')?.touched " class="text-danger">il faut maitre le nom</small>
    <div  >
      <span class="input-group-text">TEl</span>
      <input type="tel" class="form-control"  formControlName="tel" placeholder="Entrer numerou" aria-label="Username">
      <span class="input-group-text">Fax</span>
      <input type="tel" class="form-control" formControlName="fax" placeholder="Entrer Fax" aria-label="Server">
      <span class="input-group-text">Email</span>
      <input type="email" class="form-control" formControlName="email" placeholder="Entrer Email" aria-label="Server">

</div>
  </div>

    
  <div class="text-start" >
    <p >2. Suggestions et recommandions d'amelioration :</p>
    <input type="text" class="form-control" aria-label="Server" formControlName="text_sug"   placeholder="................................................................................................................................................................................................................................................................................................">
    <small *ngIf="questForm.get('text_sug')?.invalid && questForm.get('text_sug')?.touched " class="text-danger">il faut maitre l'intitule de vautre formation </small>
  </div>
  <div>
    <a (click)="savequest()"   class="btn btn-outline-primary">Enregistrer</a>
    <!-- <button  class="btn btn-success" (click)="savequest()" [attr.disabled]="questForm.invalid">Enregistrer</button> -->
  </div>
  <div *ngIf="submitted">
    <h4>Enregistrement avec succes!</h4>
    <!-- <button class="btn btn-success" (click)="newEMPLO()">Add</button> -->
  </div>

</div>



<!-- <div class="form-group">
          <label for="title">Date de la Formation</label>
          <input
            type="date"
            class="form-control"
            id="title"
            required
            [(ngModel)]="appquest.date"
            name="name"
            placeholder="Date de la Formation"
            formControlName="date"
          />
          <small *ngIf="questForm.get('date')?.invalid && questForm.get('date')?.touched" class="text-danger">il faut maitre la date de formation </small>

        </div> -->

